* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* app backgrounds */

.app {
  background-image: url(./assets/sun.jpg);
  background-size: cover;
  background-position: center;
  transition: 1.5s ease-out;
}

.cloud{
  background-image: url(./assets/cloud.jpg);
  transition: 1.5s ease-in;
}

.app.rain {
  background-image: url(./assets/rain.jpg);
  transition: 1.5s ease-in;
}

.app.storm{
  background-image: url(./assets/storm.jpg);
  transition: 1.5s ease-in;
}

.app.drizzle{
  background-image: url(./assets/drizzle.jpg);
  transition: 1.5s ease-in;
}

.app.snow{
  background-image: url(./assets/snow.jpg);
  transition: 1.5s ease-in;
}

.app.mist{
  background-image: url(./assets/mist.jpg);
  transition: 1.5s ease-in;
}

.app.smoke{
  background-image: url(./assets/smoke.jpg);
  transition: 1.5s ease-in;
}

.app.haze{
  background-image: url(./assets/haze.jpg);
  transition: 1.5s ease-in;
}

.app.dust{
  background-image: url(./assets/dust.jpg);
  transition: 1.5s ease-in;
}

.app.fog{
  background-image: url(./assets/fog.jpg);
  transition: 1.5s ease-in;
}

.app.sand{
  background-image: url(./assets/sand.jpg);
  transition: 1.5s ease-in;
}

.app.ash{
  background-image: url(./assets/ash.jpg);
  transition: 1.5s ease-in;
}

.app.clear{
  background-image: url(./assets/clear.jpg);
  transition: 1.5s ease-in;
}

/* styling */

main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 500px;
  padding: 15px;
  margin: 0 auto;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background: rgba(255, 255, 255, 0.75)
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
}

.location-box .date {
  color: white;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 20px;

  color: white;
  font-size: 90px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 75, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
}

.details {
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px rgba(50, 50, 75, 0.5);
  font-weight: 600;
  margin: auto;
  inline-size: 190px;
  line-height: 1.5;
}

.details span {
  font-weight: 500;
}

.details span::after{
  content: ' ';
  display: block;
}


.default {
  background:-webkit-linear-gradient(right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  background:   -moz-linear-gradient(right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  background:        linear-gradient(to right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  color:#26272b;
  font-size: 30px;
  line-height: 1.3;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

/* screen sizes */

@media screen and (max-width: 700px) {
  main {
    min-height: 100vh;
  }

  .search-box .search-bar {
    display: flex;
    width: 100%;
  }

  .default {
    font-size: 1.5rem;
    line-height: 1.3;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .default {
    font-size: 1.5rem;
    line-height: 1.3;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .search-box .search-bar {
    display: flex;
    width: 70%;
  }

  main{
    min-height: 100vh;
  }
}

@media (min-width: 1001px) {
  .default {
    font-size: 1.5rem;
    line-height: 1.3;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .search-box .search-bar {
    display: flex;
    width: 40%;
  }

  main{
    min-height: 100vh;
  }
}